:root{
    --font: 'Courier New', Courier, monospace;
}

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}

html{
    width: 100%;
    height: 100vh;
    background-color: rgb(233, 239, 252);
    font-family: var(--font);
}

body{
    min-height: 100vh;
}

.container{
    width: 90%;
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-auto-rows: auto;
    margin: 100px auto 0 auto;
    gap: 10px;
    justify-items: center;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 52px;
    color:  rgb(29, 37, 51);
    background-color: rgb(193, 213, 250);
    padding: 20px;
    border-bottom: 1px solid rgb(59, 56, 56);
}

.bookbtn{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookbtn button{
    width: 100px;
    height: 40px;
    font-size: 16px;
    color: rgb(29, 37, 51);
    background-color: rgba(228, 238, 240, 0.795);
    border: 1px solid  rgb(59, 56, 56);
    border-radius: 2px;
}

.bookbtn button:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.form{
    margin: 15px auto;
    padding: 20px;
    display: none;
    justify-self: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(193, 213, 250);
    width: 250px;
    border: 1px solid  rgb(59, 56, 56);
    border-radius: 5px;
}

.form form > input, .form form div > input{
    padding: 10px;    
    margin: 10px;
    border: 1px solid  rgb(59, 56, 56);
    border-radius: 2px;
}

.form form > label{
    margin-left: 60px;
}

.form form div{
    margin-left: 30px;
}

.form form div > input{
    cursor: pointer;
}

div[data-bookid]{
    min-width: 180px;
    max-width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 10px;
    background-color: rgb(204, 220, 250);
}

div[data-bookid]>button{
    padding: 7px;
    color: rgb(29, 37, 51);
    background-color: rgba(228, 238, 240, 0.795);
    border: 1px solid  rgb(59, 56, 56);
    border-radius: 2px;
}

div[data-bookid]>button:hover{
    transform: scale(1.05);
    cursor: pointer;
}
